<!--The content below is only a placeholder and can be replaced.-->
<div class="text-page">
  <div class="h1">Введение</div>
  <p>Существует два основных подхода к обучению верстке. Первый подход подразумевает изучение огромного
    количества теоретической информации. Далее следует практика.
    Предполагается, что к тому моменту,
    человек помнит весь основной материал, и может им пользоваться.
    Такой подход имеет свои плюсы и минусы. Но очевидно, что теоретическая часть без практики плохо запоминается.
    Многие вещи остаются не совсем понятны. Среди действительно важной информации, приходится запоминать множество
    таких приемов и терминов, которые очень редко применяются в работе или совсем бесполезны, в особенности новичкам.
    Это скучный метод обучения, а потому, мы начнем с самой необходимой теоретической части и сразу
    приступим к практике(второй подход). Решение заданий будет стимулировать нас к изучению новой информации,
    которая будет гораздо лучше усваиваться. В итоге мы получим теоретическую базу, упорядоченную опытом.

  </p>
  <div class="h2">Цели обучения</div>
  <p>1. Создать ядро базовых знаний, которое можно будет улучшать и дополнять в зависимости от поставленных задач.
    Что это значит? Когда после обучения вы столкнетесь с задачей, для выполнения которой,
    у вас нет готового решения, полученных знаний хватит, чтобы выделить суть проблемы и найти способы ее
    решения. Как известно, хороший специалист, никогда не перестает обучаться. По окончанию курсов, вы
    продолжите получать опыт, но уже с пониманием <b>принципов качественной верстки</b>.
  </p>
  <p>2. Научиться создавать веб-страницы, код которых, легко читать и изменять, даже если вы делали их год
    назад.
    Это один из самых важных принципов хорошего верстальщика. Создать веб-страницу легко,
    но сделать ее гибкой к изменениям, с максимально простой структурой, понятной даже постороннему специалисту
    - это цель, к которой необходимо всегда стремиться.
  </p>
  <p>3. Научиться создавать веб-страницы,
    которые полностью соответствуют макету дизайна и выглядят одинаково во всех современных браузерах,
    а также имеют минимальное время загрузки в браузере.</p>
  <p>4. Во время обучения, мы будем выполнять практические задания. В процессе, мы освоим все типичные приемы
    верстки, без которых не обходится создание ни одного проекта. Суммарным результатом этих заданий будет
    веб-страница, включающая в себя все, чему мы обучились. Это гарантирует, что по окончанию курсов, у вас будет
    собственная шпаргалка, к которой можно обращаться до тех пор, пока ваш опыт не дойдет до необходимого уровня.
  </p>
  <div class="h2">Основы</div>
  <div class="h3">Что такое веб-страница</div>
  <p>Веб-страница это совокупность файлов, которые отображаются с помощью браузера как одно приложение. На самом деле,
    достаточно только одного файла с расширением <span class="selected-word">*.html</span> <br>
    Но для увеличения функциональности и создания необходимого графического интерфейса, в файл *.html подключаются:<br>
    - файлы стилей <span class="selected-word">*.css</span><br>
    - скрипты <span class="selected-word">*.js</span><br>
    - изображения <span class="selected-word">*.jpg, *.png, *.gif, *.svg</span><br>
    - шрифты <span class="selected-word">*.eot, *.ttf, *.svg, *.woff, *.woff2</span><br>
    - иконки <span class="selected-word">*.ico</span><br>
    Для корректного отображения страницы, текстовые файлы (.html, .css, .js),
    сохраняются в кодировке <span class="selected-word">UTF-8</span>, для простого примера, посмотрите,
    как это делается с помощью программы notepad (аналогичная возможность есть в любом текстовом редакторе).
  </p>
  <div class="faq-img-wrap">
    <img [src]="utf1" alt="">
    <img src="/images/faq/utf-2.jpg" alt="">
  </div>
  <p>Если вы открыли страницу в браузере и увидели что-то такое:</p>
  <div class="faq-img-wrap">
    <img src="/images/faq/utf-3.jpg" alt="">
  </div>
  <p>Это значит, что кодировка файлов не правильная.</p>
  <div class="h3">Структура проекта</div>
  <p>Файлы проекта размещаются в папках с соответствующим названием <br>
    Файлы *.html размещаются в корневой папке проекта</p>
  <div class="faq-img-wrap">
    <img src="/images/faq/structure.jpg" alt="">
  </div>
</div>

<router-outlet></router-outlet>
