.button {
  position: relative;
  padding: 11px 16px;
  font-size: 14px;
  background-color: #3b9f61;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 2px;
  @include transition-property(background);
  @include transition-duration(200ms);
  &:hover {
    background-color: #125a2e;
  }
  &::before {
    content: "";
    position: absolute;
  }
}
.show-all-button {
  padding: 19px 15px;
  font-size: 14px;
  border: 1px solid #333333;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
  border-radius: 2px;
  @include transition-property(background,color);
  @include transition-duration(200ms);
  &:hover {
    border-color: #3b9f61;
    color: #3b9f61;
  }
}
