.to-top {
  z-index: 15;
  position: fixed;
  bottom: 2%;
  right: 2%;
  display: none;
  width: 52px;
  height: 52px;
  border: 1px solid #fff;
  background-color: #111;
  background-image: url("../images/icons/top.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  opacity: .8;
  @include transition-property(all);
  @include transition-duration(200ms);
  &:hover {
    opacity: 1;
  }
}